.app{
  background-color:rgba(255, 170, 170, .3);
  background-color: #111;
  box-sizing: border-box;
  min-height: 110vh;
}



.flexContainer{
  display: flex;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  transition: height 2s;
}

.listElementContainer{
  width: 28%;
  height: 14vw;
  //border: 1px solid black;
  color: #ddd;
  margin: 10px;
}

.innerListElementContainer{
  width: 95%;
  border: 5px inset #686868;
  margin: auto;
  height: 85%;
  border-radius: 2px;
  display: flex;
  overflow: hidden;
  margin: auto 1vw;
  padding: 5px;
}

.sectionHead{
  //max-width: 900px;
  //border: 1px solid blue;
  text-align: center;
  font-size: 1em;
  letter-spacing: 3px;
  color: rgba(255, 170, 170, .7);
  margin: auto;
  padding-top: 30px;
  padding-bottom: 15px;
  font: Arial;
  font-weight: 500;
  text-transform: capitalize;
  font-family: Helvetica, 'Archivo Black', Helvetica, sans-serif;
}

.navBar{
  background-color: #333;

}

.navMenu{
  max-width: 700px;
  margin: auto;
  height: 3vw;
  color: #ddd;
  //text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Archivo Black', Helvetica, sans-serif;
  padding: 10px;
  display: flex;
  justify-content: space-between;

}


.browserLink{
  text-decoration: none;
  color: #ddd;
}

.browserLink:hover{
  //font-size: 1.1em;
}


.bookImg{
  height: 90%;
  width: 40%;
  margin: auto 0px;
  overflow: hidden;
  border: 5px inset #444;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}


.listElementInfoContainer{
  height: 100%;
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title{
  font-weight: 500;
}

.by{
  font-size: .8em;
}

.author{

}

.select{
  width: 80%;
  text-align: center;
  border: 0px;
  border-radius: 2px;
  color: #ccc;
  background-color: #333;
}

.footer{
  height: 20vh;
}


.search{
  margin: auto;
  text-align: center;
  padding: 2vw;
}

.message{
  margin: auto;
  text-align: center;
  padding: 2vw;
  color: #888;
}

.search{
  background-color: #444;
  font-size: 1.2em;
  color: #ccc;
}

@media screen and (max-width: 600px){
  .listElementContainer{
      width: 80%;
      height: 50vw;
  }

  .navMenu{
    height: 50px;
  }

}
